

.testimonials .card {
    border-color: transparent;
}
.card__height{
    height: 15rem!important;
}

.testimonials .card .card-footer {
    background: transparent;
    border: 0;
}
@media only screen and (max-width:1199px){
    .card__height {
        height: 17rem !important;
    }
}