.banner-container{

    background:linear-gradient(0deg, rgba(36, 50, 56, .7), rgba(36, 50, 56, .7)),
    url(../../../img/banner.png);
    background-size:cover;
    background-position: center;
    height: 600px;
   
}
.banner__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding-top: 10rem;
    color: #fff;
    font-family: 'PT Sans';
}
.banner__heading{
    font-weight: 700;
    line-height: 1.5;
    font-size: 60px;
}
.banner__text{
    font-size:1.2rem;
    line-height: 1.5;
}