.service-section {
    background-color: #F6F6F6;
}

.card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    height: 25rem;

}

.card:hover {
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sevice-title {
    font-size: 1.2rem;
    font-weight: bold
}

.sevice-description {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    line-height: 28px
}

.iconSize {
    height: 95px;
    width: 95px;
    margin-top: 1rem;
    fill: #1CD8C9;
}


@media only screen and (max-width: 767px) {
    .card {
        margin-bottom: 1rem
    }
}